* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* This makes sure 1rem = 16px */
  font-size: 16px;

  color: var(--fg);
  background-color: var(--bg);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Color Variables */
  --c-deepblue: #08132a;
  --c-darkblue: #0d2045;
  --c-platinum: #e0e2e7;
  --c-lightblue: #619dee;
  --c-lightyellow: #619dee;

  --c-darkgray: #1b1c1d;
  --c-black: #111;

  --fg: var(--c-platinum);
  --bg: var(--c-black);
  --border: var(--c-darkgray);
}

html,
body,
#root {
  min-height: 100vh;
}

a {
  cursor: pointer;
  color: var(--off-white);
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}
