* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* This makes sure 1rem = 16px */
  font-size: 16px;

  color: var(--fg);
  background-color: var(--bg);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Color Variables */
  --c-deepblue: #08132a;
  --c-darkblue: #0d2045;
  --c-platinum: #e0e2e7;
  --c-lightblue: #619dee;
  --c-lightyellow: #619dee;

  --c-darkgray: #1b1c1d;
  --c-darkishgray: hsl(210, 3%, 15%);
  --c-lightgray: hsl(210, 3%, 28%);
  --c-black: #111;

  --fg: var(--c-platinum);
  --bg: var(--c-black);
  --panel: var(--c-darkgray);
  --panel-fg-1: var(--c-darkishgray);
  --panel-fg-2: var(--c-lightgray);
  --button: var(--c-platinum);
  --button-outline: var(--c-lightblue);
}

html,
body,
#root {
  min-height: 100vh;
}

a {
  cursor: pointer;
  color: var(--off-white);
}

a:hover {
  text-decoration: underline;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  cursor: pointer;
  background: var(--panel);
  border: none;
  color: var(--button);
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
}

input {
  background: var(--panel);
  border: none;
  color: var(--fg);
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 1rem;
}
